.wrapper{
    display: grid;
    gap: 2rem;
    justify-content: center;
}

.body{
    background-color: aquamarine;
}

.projectClass{
    background: #9f9e9e;
    height: 100pc;
    width: 100%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
    grid-template-rows: 1fr;

}
