.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.body{
    background-color: aquamarine;
}

.projectClass{
    background: #d2d2d2;
    height: 100pc;
    width: 100%;
}

.grid-container{
    grid-template-columns: 1fr 1fr;
}

.grid-container {
    grid-gap: 24px;
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr;
}
