
.all-scaffolding{
    display: grid;
    justify-items: center;

}


.input-sorting-text{
    margin-bottom: 0;
    display: flex;
    font-weight: initial;
    font-size: 15px;
}

.sorting{
    margin-bottom: -10px;
    margin-left: 1200px;
    display: flow;
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (min-width: 1301px) and (max-width: 2300px) {
    .sorting {
        margin-left: 1050px;
    }
}

@media (min-width: 800px) and (max-width: 1300px){
    .sorting {
        margin-left: 570px;
    }
}

@media (max-width: 799px){
    .sorting {
        margin-left: 0;
    }
}


.form-select{
    width: 300px;
    padding-right: 20px;


}
