.add-card{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}


.information{
    padding-right: 50px;
}

.btn-on-map{
    top: 0;
    right: 0;
}

.form-group{
    width: 500px;
}

.general-information{
    display: flex;
}

.search {
    margin-bottom: 1.5rem;
}


.submit-btn{
    margin-top: 50px;
}
