.img{
    height: 250px;
    width: 300px;
    alignment: center;
}

.scaffoldingElement{
    padding-bottom: 100px;
}

.card{
    width: 400px;
}

.highlightText{
    text-align: center;
}

.highlightText-caption{
    text-align: center;
}


.image{
    align-items: center;
    object-fit: contain;
}

