
.input-transfer-scaffolding{
    flood-color: #9f9e9e;
}



.scaffoldingElement-modal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    justify-items: center;
}

@media (max-width: 1200px) {
    .scaffoldingElement-modal {
        grid-template-columns: 1fr;
    }
}

.modal-header{
    margin-top: 50px;
}


.transfer-options{
    padding-bottom: 20px;
}


.card{
    width: 400px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px #888888;

}

@media (max-width: 800px){
    .card {
        width: 200px;
    }
}

.nextButton{
    margin-bottom: 20px;
}
