
.preView-Project-Main{
    display: flex;
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
}

.transfer-scaffolding-btn{
    background-color: #F28A04;
    border-radius: 8px;
    width: 500px;

}
.transfer-scaffolding-btn:hover{
    background-color: #d07506;
}



.map-container-project{
    width: 40%;
    height: 93%;
}


.tabs{
    padding-top: 10px;
    padding-left: 150px;
}

.grid-container-project-scaffolding{
    display: inline-grid;
    alignment: center;
    overflow-y:scroll;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-rows: 1fr;

    padding-right: 20px;
}
