
.all-scaffolding{
    display: grid;
    justify-items: center;

}


.sorting{
    display: flow;
    padding-top: 40px;
    padding-bottom: 20px;
    float: left;
}

.form-select{
    width: 300px;
    padding-right: 20px;


}
