.toolbar{
    background: #F28A04;
    justify-content: space-between;
}


.button{
    width: fit-content;
    height: fit-content;
}



.links{
    margin-inside: 50px;
}

.appbar{
    position: fixed;
}
