/api/Database/stillas-16563-firebase-adminsdk-wd82v-a9fe8919b7.json
/api/tests/stillastestdatabase-firebase-adminsdk-tvp5e-1eb0fe0a3b.json
.idea
/api/.idea

/tests/stillastestdatabase-firebase-adminsdk-tvp5e-1eb0fe0a3b.json
/logs.txt
